    /*
    Flaticon icon font: Flaticon
    Creation date: 07/03/2020 15:44
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-eye:before { content: "\f100"; }
.flaticon-leadership:before { content: "\f101"; }
.flaticon-team:before { content: "\f102"; }
.flaticon-scroll:before { content: "\f103"; }
.flaticon-location:before { content: "\f104"; }
.flaticon-planet-earth:before { content: "\f105"; }
.flaticon-network:before { content: "\f106"; }
.flaticon-paper-plane:before { content: "\f107"; }
.flaticon-checklist:before { content: "\f108"; }
.flaticon-chat:before { content: "\f109"; }
.flaticon-car-engine:before { content: "\f10a"; }
.flaticon-car-insurance:before { content: "\f10b"; }
.flaticon-car-insurance-1:before { content: "\f10c"; }
    
    $font-Flaticon-eye: "\f100";
    $font-Flaticon-leadership: "\f101";
    $font-Flaticon-team: "\f102";
    $font-Flaticon-scroll: "\f103";
    $font-Flaticon-location: "\f104";
    $font-Flaticon-planet-earth: "\f105";
    $font-Flaticon-network: "\f106";
    $font-Flaticon-paper-plane: "\f107";
    $font-Flaticon-checklist: "\f108";
    $font-Flaticon-chat: "\f109";
    $font-Flaticon-car-engine: "\f10a";
    $font-Flaticon-car-insurance: "\f10b";
    $font-Flaticon-car-insurance-1: "\f10c";