	/*
  	Flaticon icon font: Flaticon
  	Creation date: 07/03/2020 15:44
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-eye:before { content: "\f100"; }
.flaticon-leadership:before { content: "\f101"; }
.flaticon-team:before { content: "\f102"; }
.flaticon-scroll:before { content: "\f103"; }
.flaticon-location:before { content: "\f104"; }
.flaticon-planet-earth:before { content: "\f105"; }
.flaticon-network:before { content: "\f106"; }
.flaticon-paper-plane:before { content: "\f107"; }
.flaticon-checklist:before { content: "\f108"; }
.flaticon-chat:before { content: "\f109"; }
.flaticon-car-engine:before { content: "\f10a"; }
.flaticon-car-insurance:before { content: "\f10b"; }
.flaticon-car-insurance-1:before { content: "\f10c"; }